@model lab11.Models.Algorithms 

@{ if (Model != null)
    {
        long s3val = 0;
        if (Model.stopwatch3 != null)
        {
            s3val = Model.stopwatch3.ElapsedMilliseconds;
        }

   <form asp-action="Index" aspController="Task">
       <div class="ResultOutput mt-4">
           <h5>Результат обчислень : </h5>
           @{if (ViewBag.Result == null)
               {
                   <h5 class="offset-3">xj </h5>
                   foreach (var x in ViewBag.ResultList)
                   {
                       <h6 class="offset-3">@x</h6>
                   }
               }
               else
               {
                   <h5 class="offset-3">@ViewBag.Result </h5>
               }
           }
           <h5 class="text-center mt-3" style="color:rosybrown">Статистика</h5>
           <div class="row">
               <div class="col-lg-4 col-md-4 col-sm-12 statColumn sC1">
                   <h6 class="offset-2 mb-4">Час виконання</h6><br>
                   <div class="row">
                       <div class="col-1">
                           <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-stopwatch" viewBox="0 0 16 16">
                               <path d="M8.5 5.6a.5.5 0 1 0-1 0v2.9h-3a.5.5 0 0 0 0 1H8a.5.5 0 0 0 .5-.5V5.6z" />
                               <path d="M6.5 1A.5.5 0 0 1 7 .5h2a.5.5 0 0 1 0 1v.57c1.36.196 2.594.78 3.584 1.64a.715.715 0 0 1 .012-.013l.354-.354-.354-.353a.5.5 0 0 1 .707-.708l1.414 1.415a.5.5 0 1 1-.707.707l-.353-.354-.354.354a.512.512 0 0 1-.013.012A7 7 0 1 1 7 2.071V1.5a.5.5 0 0 1-.5-.5zM8 3a6 6 0 1 0 .001 12A6 6 0 0 0 8 3z" />
                           </svg>
                       </div>
                       <div class="col offset-1">
                           <p class=" col-6">Послідовної частини : </p>
                           <p class="col offset-4" id="task1Time1">@(Model.stopwatch1.ElapsedMilliseconds - Model.stopwatch2.ElapsedMilliseconds + s3val)</p>
                           <p class="col-6">Паралельної частини : </p>
                           <p class="col offset-4" id="task1Time2">@(Model.stopwatch2.ElapsedMilliseconds - s3val)</p>
                       </div>
                   </div>
               </div>
               <div class="col-lg-4 col-md-4 col-sm-12 statColumn sC2">
                   <h6 class="offset-2 mb-4">Якісна оцінка повної ефективності</h6>
                   <div class="row">
                       <div class="col-1">
                           <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-cpu-fill" viewBox="0 0 16 16">
                               <path d="M6.5 6a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3z" />
                               <path d="M5.5.5a.5.5 0 0 0-1 0V2A2.5 2.5 0 0 0 2 4.5H.5a.5.5 0 0 0 0 1H2v1H.5a.5.5 0 0 0 0 1H2v1H.5a.5.5 0 0 0 0 1H2v1H.5a.5.5 0 0 0 0 1H2A2.5 2.5 0 0 0 4.5 14v1.5a.5.5 0 0 0 1 0V14h1v1.5a.5.5 0 0 0 1 0V14h1v1.5a.5.5 0 0 0 1 0V14h1v1.5a.5.5 0 0 0 1 0V14a2.5 2.5 0 0 0 2.5-2.5h1.5a.5.5 0 0 0 0-1H14v-1h1.5a.5.5 0 0 0 0-1H14v-1h1.5a.5.5 0 0 0 0-1H14v-1h1.5a.5.5 0 0 0 0-1H14A2.5 2.5 0 0 0 11.5 2V.5a.5.5 0 0 0-1 0V2h-1V.5a.5.5 0 0 0-1 0V2h-1V.5a.5.5 0 0 0-1 0V2h-1V.5zm1 4.5h3A1.5 1.5 0 0 1 11 6.5v3A1.5 1.5 0 0 1 9.5 11h-3A1.5 1.5 0 0 1 5 9.5v-3A1.5 1.5 0 0 1 6.5 5z" />
                           </svg>
                       </div>
                       <div class="col  offset-1">
                           <p class="col-6">Прискорення : </p>
                           <p class="col offset-4" id="task1Acceleration">@Model.acceleration </p>
                           <p class="col-6">Ефективність : </p>
                           <p class="col offset-4" id="task1Effectivity">@Model.effectivity </p>
                       </div>
                   </div>
               </div>
               <div class="col-lg-4 col-md-4 col-sm-12 statColumn sC3">
                   <h6 class="offset-2 mb-4">Оцінка максимального прискорення</h6>
                   <div class="row">
                       <div class="col-1">
                           <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-lightning" viewBox="0 0 16 16">
                               <path d="M11.251.068a.5.5 0 0 1 .227.58L9.677 6.5H13a.5.5 0 0 1 .364.843l-8 8.5a.5.5 0 0 1-.842-.49L6.323 9.5H3a.5.5 0 0 1-.364-.843l8-8.5a.5.5 0 0 1 .615-.09zM4.157 8.5H7a.5.5 0 0 1 .478.647L6.11 13.59l5.732-6.09H9a.5.5 0 0 1-.478-.647L9.89 2.41 4.157 8.5z" />
                           </svg>
                       </div>
                       <div class="col  offset-1">
                           <p class="col-6">За Амдалом :</p>
                           <p class="col offset-4" id="task1maxAccAmdal">@Model.amdal </p>
                           <p class="col-6">За Густавсоном-Барсісом : </p>
                           <p class="col offset-4" id="task1maxAccGustavson">>@Model.gustavson_barsis </p>
                       </div>
                   </div>
               </div>
           </div>
       </div>
        </form>
                                        }

                                    }
